.main{
    background: rgba(47, 36, 59, 1);
}
.animation-infinite{
    position: absolute;
    top: 0;
    left: 0;
    background: transparent;
    z-index: 10;
    height: 2px;
    width: 40px;
    box-shadow: 5px 5px 7px white, -5px -5px 7px white;
    animation-name: animationBar;
    animation-duration: .9s;
    animation-iteration-count: infinite;
    animation-timing-function: ease;
}
.progressbar{
    overflow: hidden;
    position: fixed;
    top: 0;
    left: 0;
    height: 11px;
    width: 0;
    background: linear-gradient(to right, rgba(255, 0, 0, 0.3), rgba(255, 0, 0, 0.9));
}
.text-content{
    padding: 0 100px;
    font-size: 25px;
    color: #f1f1f1;
}
.progress-hover{
    color: #fff;
    text-align: center;
    font-size: 10px;
}
.title{
    padding-top: 100px;
    color: bisque;
    font-size: 60px;
    margin-bottom: 40px;
    padding-left: 100px;
    font-weight: 700;
}
@keyframes animationBar {
    from{
        left: 0;
    }
    to{
       left: 99%;
    }
}