@import url('https://fonts.googleapis.com/css2?family=Nunito:ital@1&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.App{
    /*background-color: rgba(47, 36, 59, 0.98);*/
    font-family: Nunito, sans-serif;
}